
.projects {
    
    width: 100%;
    height: 100%;
    background-color: rgb(255, 242, 242);
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0px auto 0px auto;
}

.project {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
}


.side {
    transition: all 0.8s ease;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.front {
    background-color: white;
}



.back {
    background-color: #426b77;
    transform: rotateY(180deg);
    color: white;
    height: 100%;
    height: 353px;
    font-size: 2.4rem;
    text-align: center;
    position: relative;
}

.imgContainer {
    width: 100%;
}
.img {
    width: 100%;
    height: 250px;
}
.projectCardDesc {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 5px;
    color: #333333;
}

.infoText {
    font-size: 1.6rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

.projectCardTitle {
    font-size: 2.4rem;
    margin-top: 15px;
}

.backInfo {
    font-size: 2.6rem;
    text-align: center;
    margin-top: 15px;
}

.backLinkContainer {
    margin-top: 30px;
}
.backLink {
    cursor: pointer;
    margin-top: 30px;
    margin-left: 15px;
}

.btnContainer {
    position: static;
    padding-top: 50px;
}


.showDemo {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgb(156, 152, 152);
    display: flex;

}

.showDemoDetails {
    width: 30%;
    background-color: green;
}

.showDemoGif {
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showDemoGifImageContainer {
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showDemoGifImage {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 50px;
    border: 10px solid rgb(166, 166, 245);
    border-radius: 10px;
}

.showDemoCloseButtonContainer {
    display: flex;
    justify-content: end;
    width: 100%;
    justify-content: flex-end;
    padding:30px;
}
.showDemoCloseIcon {
    cursor: pointer;
}

