*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

h2 {
  font-size: 3.6rem;
  padding: 60px;
}

/* Projects hover */

.project-global:hover .project-global-front {
  transform: rotateY(-180deg);
}

.project-global:hover .project-global-back {
  transform: rotateY(0);
}

/* Skills table */
.skills-table {
}
.skills-table {
}
.skills-table tr td,
.skills-table tr th {
  border: 1px solid #666666;
  padding: 15px;
}

.skills-table tr th:not(:first-child) {
  cursor: help;
}
